                                        /* Normalize*/

/*Стилі для обнулення верхніх відступів у елементів*/
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}
/*Клас для обнулення базових властивостей списків (ul)*/
ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
    }
    /*Клас для обнулення базових властивостей у посилань*/
    a{
        text-decoration: none;
        color: inherit;
    }
    /*Властивості для коректного відображення картинок*/
    img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    /*Властивості для обнулення курсиву у address*/
        address{
            font-style: normal;
        }

                                               /* root*/
:root{
--secondary-color:#2196F3;
--color-main:#212121;
--minor-color:#FFFFFF;
--background-color: #E5E5E5;
--item-color:#757575;
--dark-background-color:#2F303A;
--link-color:#757575;
--footer-link-color:rgba(255, 255, 255, 0.6);
--container-preferences-color:rgba(117, 117, 117, 1);
--small-section-title-color:rgba(33, 33, 33, 1);
--team-background-color: #F5F4FA; 
--border-color:rgba(238, 238, 238, 1);
--gradient-background-color:#c4c4c4;
--gradient-color:rgba(47, 48, 58, 0.4);
--social-link-color:rgba(175, 177, 184, 1);
--icon-social-color:#AFB1B8;
--icon-client-color: #AFB1B8;
--button-second-background-color:rgba(245, 244, 250, 1);
--icon-footer-background-color:rgba(255, 255, 255, 0.1);
}

                                              /* header*/

header{
    z-index: 10;
}
.page-header{

border-bottom: 1px solid var(--border-color);
}

.page-header .container{
    display:flex;
    align-items:center;
}

.menu-link-header {
    display: block;
    display: flex;
    align-items: center;

    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    list-style: none;

    padding-top: 32px;
    padding-bottom: 32px;
    
    fill: var(--container-preferences-color);
    color: var(--link-color);

    transition-property:fill, backgroud-color;
    transition-duration:250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay:none;
    }
 
    .menu-link-header:hover{
    color: var(--secondary-color);
    fill: var(--secondary-color);
}

.menu-link-header:focus {
    color: var(--gradient-background-color);
}

.icon{
    
    fill: var(--item-color);
    margin-right: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: none;
}

.icon:hover {
    fill: var(--secondary-color);
}

.icon:focus {
    fill: var(--secondary-color);
}
 
 .menu-link-header:hover .icon,
 .menu-link-header:focus .icon{
fill: var(--secondary-color);
 }

 .menu-link{
  font-weight: 500;
 }



.logo{
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
margin-right: 93px;



}

.logo-blue {
color:var(--secondary-color);
}

.logo-black{
color: var(--color-main) ;
}

.logo-white{
    color:var(--minor-color);
}

.logo:hover {
    color:var(--secondary-color) ;
}

.contacts:not(:last-child) {
     margin-right: 50px;
   }

   .nav {
       display: flex;
       align-items: center;
       margin-right: auto;
   }

   .current{
    position: relative;
    
   
   }


   .current::after{
content:'' ;

position: absolute;
left: 0;
bottom: -32px;

display: block;
width: 100%;
height: 5px;
background-color: var(--secondary-color);

opacity: 1; 
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

   .menu-first-item:not(:last-child){
    margin-right: 50px;

   }

   .header-item-blue {
       color: var(--secondary-color);
   }

   .header-item-blue:hover {
       color: var(--secondary-color);
   }

   .header-item {
    color: var(--small-section-title-color);
   }

   .header-item:hover{
    color: var(--secondary-color);
   }
div.current.header-item-blue::after{
    border-radius: 2px;
}
                                                 /* body*/

.body{
    font-family: 'Roboto', sans-serif;
    color:var(--color-main);
    background-color:var(--minor-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.container{
    
    padding: 0 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

                                             /* section-one*/
.section-one{
padding: 200px 0;
text-align: center;
background-color: var(--dark-background-color);

max-width: 1600px;
height: 600px;
outline: 1px solid black;
margin-left: auto;
margin-right: auto;
background-image: 
linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
url('../images/icons/hero-bgk-image.jpg');
background-repeat:no-repeat;
background-size: cover;
background-position: center;
}

.flex-container-section-one{
display: block;
}

.title{
    color: var(--minor-color) ;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    }

.button {
    color: var(--minor-color);
    background-color: var(--secondary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.06em;
    padding-left: 32px;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    border: none;
border-radius: 5px;
transition-property: fill, backgroud-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: none;
}

                                 
                                         /* section-two*/

.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
}

.flex-container-preferences {
    display: flex;

}

.menu-first {
    list-style: none;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.contact-decor{
    display: flex;
    align-items: center;
}

.small-section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--small-section-title-color);
    margin-top: 30px;
    margin-bottom: 10px;
}

.small-section-title:last-child {
    margin-right: 0;
}

.item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.71;
    color: var(--item-color);
    
}

.preferences{
margin-right: 30px;
width: 270px;
}

.preferences:last-child {
    margin-right: 0;
}

.preferences::before{
    display: block;
    content: '';
    height: 120px;
    border-radius: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--gradient-background-color);
}

.preferences:nth-child(1)::before{
background-image: url(../images/icons/Group1.svg);
}

.preferences:nth-child(2)::before{
background-image: url(../images/icons/Group2.svg);
}

.preferences:nth-child(3)::before{
background-image: url(../images/icons/Group3.svg);
}

.preferences:nth-child(4)::before{
    background-image: url(../images/icons/Group4.svg);
}


                                          /* section-three*/

.section-three-container{
    padding-top: 0;
}

.flex-item-activities{
    display: flex;
}

.secondary-title-section-three {
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-main);
    margin-bottom: 50px;
    
}

.picture-first {
    margin-right: 30px;
    text-align: center;
    }

.picture-first:last-child{
margin-right:0;
}


.picture-first-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
  display: flex;
  justify-content: center;

    background-color: rgba(47, 48, 58, 0.8);
    color: var(--minor-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
   
    align-items: center;
    text-transform: uppercase;

    opacity: 0.8;
}

.picture-first {
    position: relative;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 20;
    transform: scale(1);
    transition: trasform 0.5s;


}

                                  /* section-four*/
.section-four{
    background-color: var(--team-background-color);

}

.secondary-title {
    color: var(--color-main);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
       
    text-align: center;
    margin-bottom: 50px;
    }

   .menu-team{
    display: flex;
    margin: 0 auto;
   }


.card:no(:last-child){
margin-right: 0px;
}

.picture {
    margin-right: 30px;
    background-color: var(--minor-color);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    }


.shadow{
    display: block;
    box-shadow: none;
    transition-property:box-shadow;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay:none;
   
}

.shadow:hover,
.shadow:focus{
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-image{
        width: 270px;
        
}

.card-heading{

line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
color: var(--small-section-title-color);
margin-top: 30px;
} 

.position-item{
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;

color: var(--container-preferences-color);
    
text-align: center;

margin-top: 10px;
margin-bottom: 16px;
}

.current{
    color: var(--secondary-color);
}

.current:active {
    color: var(--secondary-color);
}


.item-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    color:var(--color-main);
    margin-bottom: 4px;
}

.link-item{
    width: 40px;
    height: 40px;
    fill: var(--social-link-color);
}

.social-links{
list-style: none;
    display: inline-flex;
    align-items: center;
    width: 206px;
    margin-bottom: 30px;
    justify-content:space-between;
    margin-right: 32px;
    margin-left: 32px;
    fill: var(--icon-social-color);
    transition-property:fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: none;
    
    
}

.social-links:hover,
.social-links:focus{
    fill: var(--minor-color);
}

  
.icon-social {
width: 20px;
height: 20px;
fill: var(--icon-social-color);
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: none;
   }
   
.icon-social:hover,
.icon-social:focus{
       fill: var(--minor-color)
   }
   
.social-links-items{
display: flex;
width: 44px;
height: 44px;

border-radius: 100%;
color: var(--icon-social-color);
    background-color: var(--minor-color);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: none;
}

.social-links-items:hover,
.social-links-items:focus{
fill: var(--minor-color);
    background-color: var(--secondary-color);
}


.social-links-item{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--minor-color);
    border-radius:100%;
    color:var(--icon-social-color);
    background-color:var(--minor-color);
    transition-property:color, background-color;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: none;
}

.social-links-item:hover,
.social-links-item:focus {
    fill: var(--minor-color);
    background-color: var(--secondary-color);
    
}


 .social-links-items:hover .icon-social,
.social-links-items:focus .icon-social 
{fill: var(--minor-color);
    
}


                                        /* section-five*/

.section-five-container{
  margin-top: 94px;
  margin-bottom: 94px;
}

.clients-title{
    font-weight: 700;
        font-style: normal;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--color-main);
        margin-bottom: 50px;
}   
.clients {
    list-style: none;
    display: flex;
    font-weight: 500;
    list-style: none;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 30px;
        text-align: center;
}

.clients:last-child {
    margin-right: 0;
}

.client{
    display: block;
        content: "";
        width: 170px;
        height: 92px;
        border: 1px solid var(--background-color);
        border-radius: 4px;
       
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition-property: border;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-delay: none;
}

.client:hover{
border: 1px solid var(--secondary-color);
}


.icon-client {
    fill: var(--icon-client-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: none;
}
.icon-client:focus,
.icon-client:hover {
    fill: var(--secondary-color);
}



                                        /*page-two*/

                                    /*container-button*/

.button-second {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    
    color: var(--color-main);
    background-color:var(--button-second-background-color);
    
    padding:6px 22px;
    margin-right: 8px;
    
    box-shadow: none;
    border-radius: 4px;
    border: 1px solid transparent;
    
    transition-property: color, background-color box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: none;
       
}

.button-second:not(:last-child) {
        margin-right: 8px;
}
.button-second:focus,
.button-second:hover {
    color: var(--minor-color);
    background-color: var(--secondary-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container-button{
    
        padding-left: 15px;
        padding-right: 15px;
       }


.flex-container-button{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
}

.flex-element-button:not(:last-child){
        margin-right: 8px;
}

.flex-element-button:nth-child{
margin-right: 0;
}


                                            /*container-projects*/

.container-projects{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.flex-element{
width: 370px;
margin-right: 30px;
margin-bottom: 30px;
overflow: hidden;
}

.flex-element:hover .project-section-information{
    transform:translate(0) ;
}

.flex-element:nth-child(3n){
margin-right: 0;
}


.flex-element:nth-last-child(-n+3){
    margin-bottom: 0;
}

.flex-element: nth-child(n3){
margin-right: 0;
    } 

    .flex-element-title{
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        border-left: 1px solid var(--border-color);
    
    }

    .project-section-information {
       position: absolute;
        top: 0;
        left: 0; 
        width:100%;
        height: 100%;
        padding-left: 24px;
        padding-right: 24px;
        align-items: center;
        
        background-color: var(--secondary-color);
            color: var(--minor-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        
        transform: translateY(100%);
        transition-property: transform;
            transition-duration: 250ms;
            transition-timing-function: ease-in-out;
            transition-delay: 250ms;
        opacity: 0.8;
        
        
}

.project-section-information> p{
background-color: var(--secondary-color);
    color: var(--minor-color);
    padding: 63px 24px;
    font-size: 18px;
    
}

    .project-section{
      position: relative; 
    overflow: hidden;
            }
   

      

      

    .flex-element:hover .project-section-information{
    transform: translateY(0);
    background-color: var(--secondary-color);
    color: var(--minor-color);
    }



  

                                            /* footer*/

.footer {
    background-color: var(--dark-background-color);
    padding: 60px 0;
       
}


.flex-container-footer{
    width: 1200px;

    padding: 0 15px;
    margin: 0 auto;
}

.footer .container{
    display: flex;
    align-items: baseline;
}

.container-footer-right .title-footer-container .social-links-footer{
    align-items: center;
    justify-content: center;                
}

.container-footer-left {
    margin-right: 70px;
}

.flex-element-footer{
/*display: block;

justify-content: flex-start;
width: 147px;
flex-wrap: wrap;*/
}

.container-address-footer {
        display: inline-block;
        justify-content: flex-start;
        flex-direction: column;
        margin-left: 15;
        
    }

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    }

.address{
    color:var(--minor-color);

    font-size: 14px;
    line-height: 1.7;
    
    margin-top: 20px;
    }
.buttons{
    margin: bottom 34px; ;
}


.menu-address{
text-align: left;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
font-style: normal;
color: var(--minor-color);
width: 231px;
margin-top: 20px;
margin-left: 15px;
text-align: left;
}

.address-link{
    text-decoration: none;
    color:var(--footer-link-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    
    }

    .footer-li{
        margin-bottom: 9px;
        
    }

    .footer-li:last-child {
            margin-bottom: 0;
        }

.button-footer {
    color: var(--minor-color);
    background-color: var(--dark-background-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    }

    .footer-social-links {
        list-style: none;
        display: inline-flex;
        justify-content: space-between;
        }

.link{
margin-right: 10px;
}

.title-footer{
    color: var(--minor-color);
    text-transform: uppercase;
    
   
    
    }

.title-footer-container{
margin-bottom: 20px;
text-align: center;
    justify-content: center;
}

.icon-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 30%;
    fill: var(--minor-color);
    
    transition-property:background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: none;
}
.icon-footer:hover,
.icon-footer:focus {
    color: var(--secondary-color);
    fill: var(--minor-color);
    }
 
strong.title-footer{
    flex-wrap: wrap;
}


                .social-links-footer {
                    
                     display: flex;

                    margin-top: 20px;
                    
                }
        
                .social-links-items-footer {
                    display: flex;
                    width: 44px;
                    height: 44px;
                        }

                .social-links-items-footer:not(:last-child) {
                    margin-right: 10px;
                }

          .social-links-item-footer {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    padding: 12px;
                    border: 1px solid var(--icon-footer-background-color);
                    border-radius: 100%;
                    background-color: var(--icon-footer-background-color);
                    transition-property: background-color;
                    transition-duration: 250ms;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    transition-delay: none;
                }

                
                .social-links-item-footer:hover,
                .social-links-item-footer:focus {
                background-color: var(--secondary-color);
        }

        .container-footer-form{
            
            margin-left: auto;
           /* margin-left: 150px;
            display: block;
            min-height: 86px;
            min-width: 570px;
            
                justify-content: flex-start;
                width: 147px;*/
                
        }
        .sign-email{
            margin-right: 8px;
            min-width: 358px;
            height: 50px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            background: #2F303A;
        }
        

                .title-footer-container  {
                    
                }

        /*Modal*/

               
        .backdrop{
            position: fixed;
            z-index: 20;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:rgba(0, 0, 0, 0.2);
            transform: scale(1);
            /*transition: opacity 2500ms, visibility 2500ms;*/
             
        }

.backdrop.is-hidden{
    transform: scale(0);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            
            
         }

        .modal{
            /*display: flex;*/
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 528px;
            padding: 40px;
            font-family: 'Roboto';
            color: var(--item-color);
            /*min-height: 581px;*/
             background-color: rgba(255, 255, 255, 1);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            opacity: 1;
           
            transition: opacity 250ms cubic-bezier (0.4, 0, 0.2, 1);
           /* visibility: visible;
            transform: translate(-50%, -50%) scale(1);
            transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1); opacity: 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
            
        }

        .modal-close-button{
            display: flex;
        position: absolute;
        top:8px;
        right: 8px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 100%;
        width: 30px;
        height: 30px;
        align-items: center;
        text-align: center;
        justify-content: center;
        fill: rgba(0, 0, 0, 1);
        background-color: var(--minor-color);
            }

        
    .close-link {
        
        position: absolute;
            top: 8px;
            right: 8px;
            width: 18px;
            height: 18px;
            vertical-align: middle;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin:  0 auto;
            background-color: var(--minor-color);
            
    }

    .close{
    position: absolute;
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    fill: rgba(0, 0, 0, 1);;
                   }

    .close:hover,
    .close:focus {
    fill: var(--secondary-color);
                                   }
                   
           .backdrop.is-hidden.modal{
                    transform: translate(-50%, -50%) scale(0.9);
                    transition:opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);visibility:  250ms cubic-bezier(0.4, 0, 0.2, 1);
                    opacity: 0;
                    visibility: hidden;
                 }
                                        /*Modal Window form*/
                                        textarea {
                                            resize: none;
                                        }
                    
                                        .form {
                                            /*width: 100%;
                    
                                            margin-left: auto;
                                            margin-right: auto;
                                            padding: 20px;*/
                                        }
                    
                                        .group {
                                            
                                            
                                            
                                            
                    
                                        }
                    
                                        .group-title {
                                        display: block;
                                        margin-left: auto;
                                        margin-right: auto;
                                        margin-bottom: 12px;
                                            font-weight: 700;
                                            font-size: 20px;
                                            line-height: 1.15;
                                            text-align: center;
                                            align-items: center;
                                            letter-spacing: 0.03em;
                                            color: var(--color-main);
                                        }

                                        
                                        .form-field-container{
                                            display: flex;
                                         
                                         margin-bottom: 10px;
                                         flex-direction: column;

                                        }
.form-field{
position: relative;


}
                    
.form-icon{
position: absolute;
fill: currentColor;
transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: none;

top: 50%;
left: 10px;}
/*.form-field:hover{
    fill: var(--secondary-color);

}                                       
*/   

.form-field:focus{
fill: var(--secondary-color);
}

.form-field:hover {
    fill: var(--secondary-color);
}
input:hover + .form-icon,
input:active + .form-icon{
    fill: var(--secondary-color);
}

input:focus+.form-icon {
    fill: var(--secondary-color);
}
.input-form-color{
    background: #2F303A;
    text-decoration: none;
    border: none;
    outline: none;
    width: 100%;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #c4c4c4;

}


.button-submit{
    
    width: 200px;
    height: 50px;
    padding-left: 29px;
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--minor-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.sign-button{
position: relative;
}
.form-icon-sign{
    position: absolute;
    
    top: 15px;
    right: 20px;
    
    
    fill: var(--minor-color);
}

                                        
                                        .form-field {
                    
                                            display: flex;
                                            flex-direction: column;
                                            margin-bottom: 10px;
                                            ;
                                           
                    
                                        }
                    
                                        .form-field label {
                                            margin-bottom: 5px;
                    
                                        }
                    
                                        .form-field input {
                                            margin: 0;
                                            padding: 12px 42px;
                                            border: 1px solid rgba(33, 33, 33, 0.2);
                                            border-radius: 4px;
                                            transition-property: border;
                                                transition-duration: 250ms;
                                                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                                                transition-delay: none;
                                        }

                                        .form-field input:hover{
                                         border: 1px solid var(--secondary-color);   
                                        }
                    
                                        .form-field input::placeholder {
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 1.14;
                                        letter-spacing: 0.01em;
                                        color: rgba(117, 117, 117, 0.5);}
                    
                                        .form-field textarea {
                                            border: 1px solid rgba(33, 33, 33, 0.2);
                                            border-radius: 4px;
                                            height: 120px;
                                            transition-property: border;
                                                transition-duration: 250ms;
                                                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                                                transition-delay: none;
                                        }
                    
                                        .form-field textarea:hover{
                                            border: 1px solid var(--secondary-color);
                                        }
                    
                                        comment {
                                            padding: 8px;
                                        }
                    
                                        .current-modal {
                                            color: var(--secondary-color);
                                        }
                    
                                        .aprove{
                                           
                    
                                        }
                                        
                    
.policy {
    position: relative;
        top: 0;
        left: 0;
        width: 448px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-bottom: 30px;

                                        }
                    
                                        .modal-button {
                                            /*margin-left: 165px;
                                            margin-right: 163px;
                                            margin-bottom: 40px;*/
                                            margin:0 auto;
                                            display: block;
                                            font-family: 'Roboto';
                                            align-items: center;
                                            text-align: center;
                                            letter-spacing: 0.06em;
                                            width: 200px;
                                            height: 50px;
                                            font-weight: 700;
                                            font-size: 16px;
                                            line-height: 1.875;
                                            color: var(--minor-color);
                                            background: #188CE8;
                                            border:#188CE8 ;
                                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                                            border-radius: 4px;
                                        }


                                        /*Chekbox*/

.checkbox-input{
    appearance: none;
    
}

.checkbox-input:checked + .checkbox-icon{
 opacity:1
}

.checkbox-control{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    background:var(--minor-color);
    margin-right: 8px;
    border: 1px solid rgba(33, 33, 33, 1);
    border-radius: 2px;
    flex-shrink: 0;

}
.checkbox{
    display: flex;
}

.checkbox-icon{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    fill: var(--minor-color);
    background-color: var(--secondary-color);
}

/*.checkbox{
    appearance: none;
    
}

.checkbox-control{
position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    outline: 1px solid var(--gradient-background-color);
}
.checkbox:checked +.checkbox-control {
    background-color: var(--secondary-color);
    border: var(--secondary-color);
   
}
.checkbox:checked +.form-icon-yes{
fill: var(--minor-color);
    background-size: contain;
}


  .approve{
       }


.form-icon-yes{
    flex-shrink: 0;
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid var(--gradient-background-color);
    fill: none;
    border-radius: 4px;
}*/

textarea{
    padding: 12px 16px;
}

.label-name{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);

}

placeholder{
    color: rgba(117, 117, 117, 0.5);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}